{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}
<div>
    {% if posts|length > 0 %}
        {% for key,post in posts %}
            <a href="{{ path('app_micro_get_single_post', { id: post.id }) }}">
                {{ post.title }}
            </a>
            <br />
        {% endfor %}
    {% else %}
        <p>nothing here</p>
    {% endif %}
</div>
{% endblock %}
